
@if(ViewData["InternalServerError"] != null)
{
    <p>Sorry, an internal server error occurred while processing your request.</p>
    <h1>Internal Server Error @ViewData["InternalServerError"]</h1>
    <p>Please try again later.</p>
}
