<div id="mcqDetailsModal" class="modal-overlay " style="display: none;">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">MCQ Details</h3>
            <button id="closeMcqDetailsModal" class="modal-close">&times;</button>
        </div>
        <div id="mcqDetailsContent">
            <!-- MCQ details will be dynamically loaded here -->
        </div>
    </div>
</div>
