@model BranchModel

@{
     string title = Model == null ||  Model.BranchId == null ? "Add" : "Edit";

        ViewData["Title"] = title + " Branch";
}

<div class="flex flex-col items-center">
    <div class="w-full max-w-md bg-white rounded-lg shadow-lg p-6">
        <h2 class="responsive-title text-gray-900 mb-4 text-center"> @(title) Branch</h2>

        @if(TempData["ErrorMessage"] != null){
            <p class="validation-error-lable" style="text-align: start;">@TempData["ErrorMessage"]</p>
        }

        <form asp-action="AddOrEditBranch" asp-controller="Branch" asp-area="Admin" method="post" class="flex flex-col">
            <!-- Hidden Field for BranchId-->
            <input asp-for="BranchId" type="hidden" /> 

            <div class="flex"> 
                <span class="text-red-600">*</span><label asp-for="BranchName" class="text-gray-700 mb-1"></label>
            </div>
            <input asp-for="BranchName" placeholder="Enter Branch Name" class="bg-gray-100 text-gray-900 border-0 rounded-md p-2  focus:bg-gray-200 focus:outline-none focus:ring-1 focus:ring-blue-500 transition ease-in-out duration-150">
            <span asp-validation-for="BranchName" class="text-red-600"></span>

            <div class="flex gap-x-4">
                <partial name="_Submit_Button" model="@(title)"/>
                <partial name="_Back_Button" model="@("Back")"/>
            </div>
        </form>
    </div>
</div>