@model ForgetPassword;

@{
    ViewData["Title"] = "Forget Password";
}

<div class="sign-container">
  <div class="sign-card">
    <h1 class="sign-card-title">Forgot Password</h1>
    <hr class="sign-card-divider">
     <p class="description" style="font-size: 0.9rem;color: #666; margin-bottom: 20px;">Enter your email to reset your password. We’ll send a reset link to your inbox.</p>
       @if(TempData["LableErrorMesssage"] != null)
    {
      <p class="validation-error-lable" style="text-align: start;">@TempData["LableErrorMesssage"]</p>
    }
    <form asp-action="ForgetPassword" method="post" class="sign-form">


     <!-- Email fields -->
      <div class="mb-2">
        <div class="sign-label">
          <span class="validation-error">*</span>
          <label asp-for="Email"></label>
        </div>
        <input asp-for="Email" class="input" placeholder="Enter Email">
        <span asp-validation-for="Email" class="validation-error"></span>
      </div>


       <!-- Links for Forgot Password and Register -->
    <div class=" d-flex justify-between" style="margin-top: 10px; justify-content: end;">
      @* <a asp-action="SignIn" class="sign-link">already have an account?</a> *@
      <p class="note" style=" font-size: 1rem;color: #666;">Remembered your password? <a asp-action="SignIn">Login here</a></p>
    </div>

      <button type="submit" class="sign-button" style="margin-top: 0px;">Sent link</button>
    </form>
  </div>
</div>

