@model ResetPasswordModel

@{
    ViewData["Title"] = "Reset Password";
}

<div class="sign-container" style="">
  <div class="sign-card container">
    <h1 class="sign-card-title">Change Your Password</h1>
    <hr class="sign-card-divider">
    <p>Enter a new password below to reset your account password.</p>
    @if(TempData["LableErrorMesssage"] != null)
    {
      <p class="validation-error-lable" style="text-align: start;">@TempData["LableErrorMesssage"]</p>
    }
    <form asp-action="ResetPassword" method="post">
      <input type="hidden" asp-for="Token" value="@Model.Token" />
            <div class="mb-2">
              <div class="sign-label">
                <span class="validation-error">*</span>
                <label asp-for="NewPassword"></label>
              </div>
              <input asp-for="NewPassword" class="input" placeholder="Enter your new password">
              <span asp-validation-for="NewPassword" class="validation-error"></span>
          </div>
            <div class="mb-2">
              <div class="sign-label">
                <span class="validation-error">*</span>
                <label asp-for="ConfirmPassword"></label>
              </div>
              <input asp-for="ConfirmPassword" class="input" placeholder="Confirm your new password">
              <span asp-validation-for="ConfirmPassword" class="validation-error"></span>
          </div>
          <div class=" d-flex justify-between" style="margin-top: 10px; justify-content: end;margin-bottom: 0px;">
            @* <a asp-action="SignIn" class="sign-link">already have an account?</a> *@
            <p class="note" style=" font-size: 1rem;color: #666;">Token is Expire? <a asp-action="ForgetPassword">Resend</a></p>
          </div>
            <button type="submit" class="sign-button" style="width: 100%;margin-top: 0px;">Reset Password</button>
    </form>
    
  </div>
</div>

<style>
  /* Form Styling */

h1 {
    font-size: 24px;
    margin-bottom: 10px;
    animation: slideDown 0.8s ease-out;
}

p {
    color: #666;
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.5;
}
</style>

