@model SignInModel

@{
    ViewData["Title"] = "Login";
}

<div class="sign-container">
  <div class="sign-card">
    <h1 class="sign-card-title">Login</h1>
    <hr class="sign-card-divider">
    <form asp-action="SignIn" method="post" class="sign-form">
      <div class="mb-2">
        <div class="sign-label">
          <span class="validation-error">*</span>
          <label asp-for="Email">Email</label>
        </div>
        <input asp-for="Email" class="input" placeholder="Enter Email">
        <span asp-validation-for="Email" class="validation-error"></span>
      </div>
      <div class="mb-2">
        <div class="sign-label">
          <span class="validation-error">*</span>
          <label asp-for="Password">Password</label>
        </div>
        <input asp-for="Password" class="input" placeholder="Enter Password">
        <span asp-validation-for="Password" class="validation-error"></span>
      </div>

       <!-- Links for Forgot Password and Register -->
    <div class="sign-links d-flex justify-between" style="margin-top: 10px; justify-content: space-between;">
      <a asp-action="ForgetPassword" class="sign-link">Forgot Password?</a>
      <br>
      <a asp-action="EmailVarification" class="sign-link">Don't have an account?</a>
    </div>

      <button type="submit" class="sign-button">Login</button>
    </form>
  </div>
</div>

