

  <div class="course-read-main " style="">
      <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar " style="">
      <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-heading">All Topics</li>
        <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
            <span>Introduction</span><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            
            <li>
              <a href="components-alerts.html">
                <i class="bi bi-circle"></i><span>Loop</span>
              </a>
            </li>
            <li>
              <a href="components-accordion.html">
                <i class="bi bi-circle"></i><span>Condition</span>
              </a>
            </li>
            <li>
              <a href="components-badges.html">
                <i class="bi bi-circle"></i><span>Array</span>
              </a>
            </li>
            <li>
              <a href="components-breadcrumbs.html">
                <i class="bi bi-circle"></i><span>Collection</span>
              </a>
            </li>  
          </ul>
        </li><!-- End Components Nav -->

        <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
            <span>Basic</span><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li>
              <a href="forms-elements.html">
                <i class="bi bi-circle"></i><span>Form Elements</span>
              </a>
            </li>
            <li>
              <a href="forms-layouts.html">
                <i class="bi bi-circle"></i><span>Form Layouts</span>
              </a>
            </li>
            <li>
              <a href="forms-editors.html">
                <i class="bi bi-circle"></i><span>Form Editors</span>
              </a>
            </li>
            <li>
              <a href="forms-validation.html">
                <i class="bi bi-circle"></i><span>Form Validation</span>
              </a>
            </li>
          </ul>
        </li><!-- End Forms Nav -->

        <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
            <span>Tables</span><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li>
              <a href="tables-general.html">
                <i class="bi bi-circle"></i><span>General Tables</span>
              </a>
            </li>
            <li>
              <a href="tables-data.html">
                <i class="bi bi-circle"></i><span>Data Tables</span>
              </a>
            </li>
          </ul>
        </li><!-- End Tables Nav -->

        <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
            <span>Charts</span><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li>
              <a href="charts-chartjs.html">
                <i class="bi bi-circle"></i><span>Chart.js</span>
              </a>
            </li>
            <li>
              <a href="charts-apexcharts.html">
                <i class="bi bi-circle"></i><span>ApexCharts</span>
              </a>
            </li>
            <li>
              <a href="charts-echarts.html">
                <i class="bi bi-circle"></i><span>ECharts</span>
              </a>
            </li>
          </ul>
        </li><!-- End Charts Nav -->

        <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
            <span>Icons</span><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul id="icons-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li>
              <a href="icons-bootstrap.html">
                <i class="bi bi-circle"></i><span>Bootstrap Icons</span>
              </a>
            </li>
            <li>
              <a href="icons-remix.html">
                <i class="bi bi-circle"></i><span>Remix Icons</span>
              </a>
            </li>
            <li>
              <a href="icons-boxicons.html">
                <i class="bi bi-circle"></i><span>Boxicons</span>
              </a>
            </li>
          </ul>
        </li><!-- End Icons Nav -->


      </ul>

    </aside><!-- End Sidebar-->

 <!-- menu icon-->
    <span id="toggel-sidebar"  class="menu-icon ms-3" style="font-size: 40px;height: 5px;">
      <i class="bi bi-list"></i>
    </span>

 <!-- Features Section -->
    <section id="features" class="features section" style="width: 1000000px;padding-top: 40px;">
      <div class="container">

        <div class="d-flex justify-content-center">

          <ul class="nav nav-tabs" data-aos="fade-up" data-aos-delay="100">

            <li class="nav-item">
              <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#features-tab-1">
                <h4>Documention</h4>
              </a>
            </li><!-- End tab nav item -->

            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" data-bs-target="#features-tab-2">
                <h4>Mcq</h4>
              </a><!-- End tab nav item -->

            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" data-bs-target="#features-tab-3">
                <h4>Question</h4>
              </a>
            </li><!-- End tab nav item -->

          </ul>

        </div>

        <div class="tab-content  container" style="width: 100wv;" data-aos="fade-up" data-aos-delay="200">

          <div class="tab-pane course-read-body fade container active show" id="features-tab-1">
            <div class="row ">
              <div class="topic-title-main">
                <p class="title" style="">Java Introduction</p>
              </div>

            <div class="prose prose-sm sm:prose lg:prose-lg max-w-none">
              @Html.Raw(ViewData["Content"] as string)
            </div>
            </div>
          </div><!-- End tab content item -->

          <div class="tab-pane course-read-body container fade" id="features-tab-2">
            <div class="row">
              <h1>Mcqs</h1>
            </div>
          </div><!-- End tab content item -->

          <div class="tab-pane fade course-read-body container" id="features-tab-3">
            <div class="row">
               <h1>Question</h1>
            </div>
          </div><!-- End tab content item -->

        </div>

      </div>

    </section><!-- /Features Section -->

  <!-- body -->
  @* <div class="course-read-body container">
    <div class="topic-title-main">
        <p class="title" style="">Java Introduction</p>
    </div>

      <div class="prose prose-sm sm:prose lg:prose-lg max-w-none">
        @Html.Raw(ViewData["Content"] as string)
    </div>
  </div> *@
  </div>


@section Scripts{
  <script>
    document.getElementById('toggel-sidebar').addEventListener('click', function(){
    

      let sidebar = document.getElementById('sidebar');
      sidebar.classList.toggle('sidebar-toggel');


      if(sidebar.classList.contains('sidebar-toggel')){
        document.getElementById('toggel-sidebar').style.position = "relative";
      }

      const width = window.innerWidth;

      if(width <= 800){

        if(sidebar.classList.contains('sidebar-toggel')){
          document.getElementById('features').style.display = "none";
        }else{
           document.getElementById('features').style.display = "block";
        }

        //add Sidebar toggel class
         @* sidebar.classList.add('sidebar-toggel'); *@
      }

      // if apply toggel-sidebar-sidebar position Technology remove else apply
      
    });
  </script>
}  